<%- include('../header') %>

  <!-- [ Main Content ] start -->
  <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="page-header-title">
            <h5 class="mb-0 font-medium">Add Admin Page</h5>
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript: void(0)">Admin</a></li>
            <li class="breadcrumb-item" aria-current="page">Sample Page</li>
          </ul>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->


      <!-- [ Main Content ] start -->

      <div class="grid grid-cols-12 gap-x-6">
        <!-- [ sample-page ] start -->
        <div class="col-span-6">
          <div class="card">
            <div class="card-header">
              <h5>Admin Form</h5>
            </div>
            <form action="/insertAdmin" method="post" enctype="multipart/form-data" role="form" class="form-horizontal p-5">

              <div class="mb-4">
                <label for="adminFLname" class="form-label">First Name</label>
                <input type="text" id="adminFname" name="adminFname" class="form-control" required />
              </div>

              <div class="mb-4">
                <label for="adminLname" class="form-label">Last Name</label>
                <input type="text" id="adminLname" name="adminLname" class="form-control" required />
              </div>

              <div class="mb-4">
                <label for="adminEmail" class="form-label">Email</label>
                <input type="email" id="adminEmail" name="adminEmail" class="form-control" required />
              </div>

              <div class="mb-4">
                <label for="adminPassword" class="form-label">Password</label>
                <input type="password" id="adminPassword" name="adminPassword" class="form-control" required />
              </div>

              <div class="mb-4">
                <label for="adminFunction" class="form-label">Function</label>
                <select id="adminFunction" name="adminFunction" class="form-select" required>
                  <option value="" hidden>-- Select Your Function --</option>
                  <% let adminFunction=["Manager", "HR" , "Web-Developer" , "Application-Developer" , "UI/UX Designer"
                    , "Project Coordinator" , "QA Engineer" , "DevOps Engineer" , "Database Administrator" ]; %>
                    <% adminFunction.forEach(function(data) { %>
                      <option value="<%= data %>">
                        <%= data %>
                      </option>
                      <% }); %>
                </select>
              </div>

              <div class="mb-4">
                <label for="adminStatus" class="form-label">Status</label>
                <select id="adminStatus" name="adminStatus" class="form-select" required>
                  <option value="" hidden>-- Enter A Status --</option>
                  <option value="Online" style="color: green;">Online</option>
                  <option value="Offline" style="color: red;">Offline</option>
                </select>
              </div>

              <div class="mb-4">
                <label for="joinDate" class="form-label">Join Date</label>
                <input type="date" id="joinDate" name="joinDate" class="form-control" required />
              </div>

              <div class="mb-6">
                <label for="adminImage" class="form-label">Profile Image</label>
                <input type="file" id="adminImage" name="adminImage" class="form-control" accept="image/*" required />
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary   shadow-2xl">Add Admin</button>
              </div>
            </form>
          </div>

        </div>
        <!-- [ sample-page ] end -->
      </div>
      <!-- [ Main Content ] end -->
    </div>
  </div>


  <%- include('../footer') %>