<%- include('../header') %>

<div class="container" style="margin-left: 250px; padding-top: 90px;">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="margin: 10px 0;">
            <div class="card-title">Round Vertical Form</div>
          </div>
          <div class="card-body">
            <form action="/insert" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="fname">First Name</label>
                  <input type="text" class="form-control form-control-rounded" id="fname" name="fname" placeholder="Enter First Name" required>
                </div>
                <div class="col-md-6 form-group">
                  <label for="lname">Last Name</label>
                  <input type="text" class="form-control form-control-rounded" id="lname" name="lname" placeholder="Enter Last Name" required>
                </div>
                <div class="col-md-6 form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control form-control-rounded" id="email" name="email" placeholder="Enter Email Address" required>
                </div>
                <div class="col-md-6 form-group">
                  <label for="mobile">Mobile</label>
                  <input type="text" class="form-control form-control-rounded" id="mobile" name="mobile" placeholder="Enter Mobile Number" required>
                </div>
                <div class="col-md-6 form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control form-control-rounded" id="password" name="password" placeholder="Enter Password" required>
                </div>
                <div class="col-md-6 form-group">
                  <label for="cpassword">Confirm Password</label>
                  <input type="password" class="form-control form-control-rounded" id="cpassword" name="cpassword" placeholder="Confirm Password" required>
                </div>
                <div class="col-md-6 form-group">
                  <label>Gender</label><br />
                  <div class="d-flex">
                    <div class="form-check me-3">
                      <input class="form-check-input" type="radio" name="gender" value="male" required /> Male
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" value="female" required /> Female
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label>Hobby</label>
                  <div class="d-flex flex-wrap">
                    <% let myHobby = ['Coding', 'Gaming']; %>
                    <% myHobby.forEach(item => { %>
                      <div class="form-check me-3">
                        <input type="checkbox" class="form-check-input" name="hobby" value="<%= item %>"> <%= item %>
                      </div>
                    <% }) %>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="city">City</label>
                  <select class="form-select form-control-rounded" name="city" required>
                    <option value="" disabled selected>Select City</option>
                    <option value="Surat">Surat</option>
                    <option value="Baroda">Baroda</option>
                    <option value="Rajkot">Rajkot</option>
                    <option value="Mumbai">Mumbai</option>
                  </select>
                </div>
                <div class="col-md-6 form-group">
                  <label for="avatar">Image</label>
                  <input type="file" class="form-control-file" id="avatar" name="avatar" required>
                </div>
                <div class="col-md-12 form-group">
                  <label for="desc">Description</label>
                  <textarea class="form-control form-control-rounded" id="desc" name="desc" rows="4" required></textarea>
                </div>
                <div class="col-md-12 form-group py-2">
                  <div class="icheck-material-white">
                    <input type="checkbox" id="terms" required />
                    <label for="terms">I Agree Terms & Conditions</label>
                  </div>
                </div>
              </div>
              <div class="card-action text-end">
                <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-lock"></i> Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../footer') %>
