<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashtreme Admin - Free Dashboard for Bootstrap 4 by Codervent</title>
    <!-- loader-->
    <link href="../public/assets/css/pace.min.css" rel="stylesheet" />
    <script src="../public/assets/js/pace.min.js"></script>
    <!--favicon-->
    <link rel="icon" href="../public/assets/images/favicon.ico" type="image/x-icon">
    <!-- Vector CSS -->
    <link href="../public/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="../public/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="../public/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="../public/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="../public/assets/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="../public/assets/css/app-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.7/metisMenu.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
            margin: 0;
            background-color: #f5f6fa;
        }

        #wrapper {
            display: flex;
            min-height: 100vh;
        }

        #sidebar-wrapper {
            min-width: 250px;
            max-width: 250px;
            background-color: #2c3e50;
            color: #ecf0f1;
            height: 100vh;
            overflow-y: auto;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1000;
            transition: all 0.3s ease;
        }

        #side-menu {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        #side-menu .sidebar-header {
            padding: 20px;
            font-weight: bold;
            font-size: 1.1rem;
            color: #bdc3c7;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        #side-menu li a {
            display: block;
            padding: 14px 20px;
            color: #ecf0f1;
            text-decoration: none;
            transition: 0.2s;
        }

        #side-menu li a:hover,
        #side-menu li.active>a {
            background-color: #1abc9c;
            color: #fff;
        }

        #side-menu li a i {
            margin-right: 10px;
            font-size: 1rem;
        }

        #side-menu ul.nav-second-level {
            padding-left: 0;
            background: #34495e;
        }

        #side-menu ul.nav-second-level li a {
            padding-left: 40px;
            font-size: 0.9rem;
            color: #bdc3c7;
        }

        #side-menu ul.nav-second-level li a:hover {
            background: #1abc9c;
            color: #fff;
        }

        .sidebar-search {
            padding: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        .sidebar-search input {
            background: #4a677d;
            color: #fff;
            border: 1px solid #4a677d;
        }

        .sidebar-search input::placeholder {
            color: #ccc;
        }

        .sidebar-search .btn {
            background-color: #3498db;
            border: none;
        }

        #page-content-wrapper {
            flex-grow: 1;
            padding: 20px;
        }

        .navbar {
            position: sticky;
            top: 0;
            z-index: 100;
        }

        .fa.arrow:before {
            content: "\f105";
            float: right;
            transition: transform 0.3s ease;
        }

        li.active>a>.fa.arrow:before {
            transform: rotate(90deg);
        }

        /* Responsive */
        @media (max-width: 768px) {
            #sidebar-wrapper {
                margin-left: -250px;
            }

            #wrapper.toggled #sidebar-wrapper {
                margin-left: 0;
            }
        }
    </style>

</head>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a href="#">
                    <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
                    <h5 class="logo-text">Dashtreme Admin</h5>
                </a>
            </div>
            <div id="wrapper">
                <div id="sidebar-wrapper">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-header">MAIN NAVIGATION</li>

                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </li>

                        <li><a href="/dashboard"><i class="fa fa-tachometer"></i> Dashboard</a></li>

                        <li>
                            <a href="#"><i class="fa fa-users"></i> Admin <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level **collapse**">
                                <li><a href="/admin/addAdmin">Add Admin</a></li>
                                <li><a href="/admin/viewAdmin">View Admin</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-folder-open"></i> Category <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level **collapse**">
                                <li><a href="/category/addCategoryPage">Add Category</a></li>
                                <li><a href="/category/viewCategoryPage">View Category</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-code-fork"></i> Subcategory <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level **collapse**">
                                <li><a href="/subcategory/addSubCategoryPage">Add Subcategory</a></li>
                                <li><a href="/subcategory/viewSubCategory">View Subcategory</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-puzzle-piece"></i> Extra Category <span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level **collapse**">
                                <li><a href="/extracategory/addextracategorypage">Add Extra Category</a></li>
                                <li><a href="/extracategory/viewextracategorypage">View Extra Category</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-box-open"></i> Product <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level **collapse**">
                                <li><a href="/product/addProductsPage">Add Product</a></li>
                                <li><a href="/product/viewProductPage">View Product</a></li>
                            </ul>
                        </li>

                        <li class="sidebar-header">ACCOUNT</li>

                        <li><a href="/viewProfile"><i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="/changePassword"><i class="fa fa-lock"></i> Change Password</a></li>
                        <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
            <!--End sidebar-wrapper-->

            <!--Start topbar header-->
            <header class="topbar-nav">
                <nav class="navbar navbar-expand fixed-top">
                    <ul class="navbar-nav mr-auto align-items-center">
                        <li class="nav-item">
                            <a class="nav-link toggle-menu" href="javascript:void();">
                                <i class="icon-menu menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <form class="search-bar">
                                <input type="text" class="form-control" placeholder="Enter keywords">
                                <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                            </form>
                        </li>
                    </ul>

                    <ul class="navbar-nav align-items-center right-nav-link">
                        <li class="nav-item dropdown-lg">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect"
                                data-toggle="dropdown" href="javascript:void();">
                                <i class="fa fa-envelope-open-o"></i></a>
                        </li>
                        <li class="nav-item dropdown-lg">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect"
                                data-toggle="dropdown" href="javascript:void();">
                                <i class="fa fa-bell-o"></i></a>
                        </li>
                        <li class="nav-item language">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect"
                                data-toggle="dropdown" href="javascript:void();"><i class="fa fa-flag"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                                <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                                <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                                <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                                <span class="user-profile"><img src="https://via.placeholder.com/110x110"
                                        class="img-circle" alt="user avatar"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item user-details">
                                    <a href="javaScript:void();">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3"
                                                    src="https://via.placeholder.com/110x110" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-2 user-title">Sarajhon Mccoy</h6>
                                                <p class="user-subtitle">mccoy@example.com</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>